body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url('./img/image.jpg') no-repeat;
    background-size: cover;
    
}

.navbar:before{
	content: "";
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	opacity: .4;
	z-index: -1;
	background: linear-gradient(to right,#1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}

.nav-item a{
	color: #fff!important;
	font-weight: bold;
}

#login{
    width: 280px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    
}

#login h4{
    float=left;
    font-size: 40px;
    border-bottom: 6px solid #4caf50;
    margin-bottom: 50px;
    padding: 13px 0;
    
}

.group .button {
    width: 100%;
    color: #fff;
    display: block
}

.group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1)
}

.group .button {
    background: #1161ee
}